/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}


html{
  font-size: 10px;
  font-family: "poppins";
  color: #4A4A4A;
}

h1{
font-size: 3rem;
color:#3A58ED;
line-height: 4rem;
font-weight: bold;
}

h2{
  font-size: 2rem;
  line-height: 3.4rem;
  color:#3A58ED;
  text-decoration: underline;
  font-weight: bold;
}

h3{
  font-size: 1.6rem;
  line-height: 2.7rem;
}

h4{
  font-size: 1.4rem;
  margin-bottom:5px;
}
p{
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 10px;
}
.fontawesome{
  font-size: 20px;
}

.none{
  display: none;}

  button {
    border: 1px solid #309A01;
    background-color: white;
    color: #309A01;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-family: "poppins";
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .aligncenter{
    text-align: center;
  }
  .halfimg{
    width: 48%;
  }

  .fullimg{
    width: 90%;
  }

  .marginbottom{
    margin-bottom: 40px;
  }

  .marginbottomsmall{
    margin-bottom: 20px;
  }

  .alignleft{
    text-align: left;
  }


  .blue{
      color:#3A58ED;
    }

    .black{
      color: #000000;
    }

    hr{
      border-top: 1px solid red;
    }

    .red{
      color:#E76155;
    }

    .emp{
      font-size: 2.5rem;
    }

    .squarelist {list-style-type: square;}

    .divider{
      width: 100%;
      height: 3px;
      color: red;
    }

    .bold{
      font-weight: bold;
    }
    .underline{
      text-decoration: underline;
    }

    .marginaround{
      margin: 2%;
    }


/* navigation */

nav{
  width: 100%;
  height: 60px;
  box-shadow: 0 -22px 43px 0px rgba(0,0,0,.4);
  font-family: "Raleway";
position: relative;
}

.navelements{
  width: 91%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myname{
  font-size: 1.6rem;
}

.irlogo,.myname{
  display: inline-block;
  vertical-align:middle;
}


.irlogo {
  margin-right:3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menuicon{
  float: right;
  font-size: 3rem;
}

/* Header */


header.home, .flonomain{

margin-bottom: 30px;
margin-top: 30px;

}

.herohi, .oneliner{
  font-size: 2rem;
  color: #9B9B9B;
   font-family: "Roboto";
   line-height: 3rem;
}

.heroname{
  font-family: "Roboto";
  margin-bottom: 10px;
}
.illustration{
  width: 100%;
  margin: 0 auto;
}

.herobutton{
  text-align: center;
}

/* Main */

.container{
  width: 91%;
  margin:0 auto;

}

/* Project Card on Homepage */

.project{
  width:90%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;

}

.projectimage{

  padding: 5%;
  background-color:#D9F6F1;
}

.projectdescription{
padding: 5%;
}

.pro1{
  width: 90%;
}


/*Case Study*/

.bgcolor{
  background-color: #D9F6F1;
}

.colorbox{
  padding:5%

}

.margincenter{
  margin: 0 auto;
}

.personaimage{
  width: 50%;
}

.papersketchimg, .wireframeimg{
  width: 80%;
}


ul.listspace li{
  margin-bottom: 10px;
}

.border{
  border-style: solid;
  border-width: thin;
}


  .previous{
    float: left;
  }

.next{
  float: right;
}

.endbuttons{
  height:   50px;
}
/* Footer */

footer ul{
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 0 auto;
}

.socialicons{
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cricon{
  font-size: 1.5rem
}
.crname{
  font-size: 1.0rem
}

.cricon, .crname{
  display: inline-block;
  vertical-align: middle;
}
